@import "../../variables";

.mediasidebar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000a1;
    z-index: 1000;
    transform: translateX(-2000px);
    transition: .5s;
}

.mediasidebar ul {
    // border: 2px solid white;
    width: 60%;
    margin: auto;
    margin-top: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.mediasidebar ul li {
    transition: 1s;
    opacity: 0;
    transform: translateX(-2000px);
}

.mediasidebar ul li a {
    font-size: 24px;
    font-family: $font-sfpro-bold;
    letter-spacing: 2px;
    white-space: nowrap;
    color: white;
    text-decoration: none;
    transform: 0.3s;
}

.mediasidebar ul li a:active {
    transform: scale(0.95);
}

.mediasidebar button {
    position: absolute;
    top: 70px;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
    // background-color: white;
    padding: 10px;
    border-radius: 50px;
    right: 20px;
    transition: .3s;
    transform: translateX(-2000px);
}

.mediasidebar button:active {
    transform: scale(0.9);
}

.mediasidebar button img {
    width: 100%;
}