@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&family=Encode+Sans+Semi+Expanded:wght@600&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.contactdetails {
    width: 100%;
    background-color: #FAFAFA;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;


    .contactbanner__container {
        padding: 80px;
        height: 82%;

        .contactbanner__wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                max-width: 655px;
                font-family: 'sfpro-bold';
                font-size: 42px;
                line-height: 50px;
                color: #000000;

                img {
                    width: 39px;
                    height: 41px;
                }
            }

            .info {
                ul {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    max-width: 1222px;

                    li {
                        h2 {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 15px;
                            line-height: 18px;
                            color: #000000;
                        }

                        p {
                            max-width: 320px;
                            font-family: 'Encode Sans Expanded', sans-serif;
                            font-style: normal;
                            font-weight: 760;
                            font-size: 22px;
                            line-height: 26px;
                            color: #000000;
                        }
                    }
                }
            }

            .link {
                display: flex;
                justify-content: space-between;

                .links {
                    ul {
                        display: flex;
                        justify-content: space-between;
                        width: 330px;

                        li {
                            font-family: 'Montserrat';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 17px;
                            color: #000000;
                            opacity: 0.5;
                        }
                    }
                }
            }
        }

    }
}

@media only screen and (max-width: 1045px) {
    .info {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 25px;

            li {
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;

                p {
                    text-align: center;
                }
            }

        }
    }
}

@media only screen and (max-width: 681px) {
    .contactdetails {
        width: 100%;
        background-color: #FAFAFA;
        background-size: cover;
        background-repeat: no-repeat;
        height: calc(100vh - 60px);
        position: relative;


        .contactbanner__container {
            padding: 55px;
            height: 80%;

            .contactbanner__wrapper {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h2 {

                    font-size: 26px;
                    line-height: 26px;
                    text-align: center;

                    img {
                        width: 28px;
                        height: 28px;
                    }
                }

                .info {
                    ul {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 25px;

                        li {
                            display: flex;
                            flex-direction: column;
                            gap: 5px;
                            align-items: center;

                            h2 {
                                font-size: 11px;
                            }

                            p {
                                text-align: center;
                                font-size: 16px;
                            }
                        }

                    }
                }

                .link {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;

                    .links {
                        ul {
                            display: flex;
                            justify-content: space-between;
                            width: 100%;
                            gap: 8px;

                            li {
                                font-family: 'Montserrat';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 17px;
                                color: #000000;
                                opacity: 0.5;
                            }
                        }

                    }

                    .logo {
                        display: none;
                    }
                }
            }
        }
    }
}