@import "../../variables";
$char-w: 1ch;
$gap: .7*$char-w;
$gap2: .5*$char-w;
$n-char: 9;
$in-w: $n-char*($char-w + $gap);
$in-w2: $n-char*($char-w + $gap2);

.popUpLayer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff75;
    z-index: 1;

    .popUpHideLayer {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}


.popUp {
    z-index: 9990;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 78%;
    height: 80%;
    box-sizing: border-box;
    background-color: $secondary-theme-dark;
    border-radius: 16px;
    font-family: $font-sfpro-bold;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .popUp__left {
        padding: 40px;
        border-radius: 10px;
        background-color: $main-theme-dark;
        width: 49.5%;
        color: gray;
    }

    .popUp__right {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: end;
        background-image: url("../../assets/popup.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        width: 49.5%;

        img {
            margin: 15px 15px 0 0;
            cursor: pointer;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        font-size: 18px;
        gap: 8px;

        h2 {
            font-weight: 700;
            font-size: 54px;
            line-height: 50px;
            color: $main-text-color;
            font-family: $font-sfpro-bold;
        }

    }

    form {
        margin-top: 27px;
        display: flex;
        gap: 60px;
        max-width: 320px;

        .formNameTaker {
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;

            textarea {
                background-color: transparent;
                border: none;
                font-size: 16px;
                width: 100%;
                outline: none;
                resize: vertical;
                max-height: 80px;
                font-family: $font-sfpro-regular;
                color: #FFFFFF !important;
                border-bottom: 2px solid #ffffff;

                &::placeholder {
                    color: rgb(255, 255, 255);
                }

                &:focus {
                    border: 1px solid #FFFFFF;
                }
            }

            .numberInput {
                font-size: 24px !important;
                display: block;
                border: none;
                outline: none;
                width: 100%;
                color: #FFFFFF;
                background: repeating-linear-gradient(90deg,
                    dimgrey 0, dimgrey $char-w,
                    transparent 0, transparent $char-w + $gap) 0 100%/ #{$in-w - $gap} 2px no-repeat;
                letter-spacing: $gap;
                margin-left: 10px;
            }
        }

        .numberCode {
            display: flex;
            align-items: center;
            font-size: 24px;
            font-family: $font-sfpro-regular;


            h3 {
                color: #FFFFFF;
            }
        }
    }

}


.buttonElement {
    margin: 0 auto;
    padding: 30px;
}


@media only screen and (max-width: 1100px) {
    .popUp {
        .text {
            h2 {
                font-size: 62px;
                margin-top: 0;
            }
        }
    }

    .buttonElement {
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 850px) {
    .popUp {
        .popUp__left {
            padding: 20px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .popUp {
        gap: 0;
        position: relative;

        .text {
            h2 {
                font-size: 42px;
                line-height: 30px;
            }
        }

        .popUp__left {
            width: 100%;
            background-color: #363535a1;
            height: 100%;
            padding: 20px;
            color: #FFFFFF;
            background-image: url("../../assets/popup.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;

        }

        .popUp__right {
            width: 0;

            &>img {
                position: absolute;
                top: 25px;
                right: 25px;
            }

            .buttonElement {
                position: absolute;
                bottom: 15px;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .text {
            form {
                .formNameTaker {
                    textarea {
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}