@import "../../variables";
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&family=Encode+Sans+Semi+Expanded:wght@600&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.footer {
    height: 100vh;
    width: 100%;
    background-color: #2A2A2A;
    position: relative;
    display: flex;
    align-items: center;
}

.footer__container {
    width: 100%;
    height: calc(100vh - 150px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    &>h1 {
        font-family: $font-sfpro-bold;
        font-style: normal;
        font-weight: 650;
        font-size: 42px;
        line-height: 32px;
        color: #FFFFFF;

        img {
            height: 36px;
        }
    }
}

.branches {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%;

    .branches__location {
        width: 55%;
        height: 100%;

        .branches_googlemap {
            width: 100%;
            height: 100%
        }
    }
}

.branches__name {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    ul {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: calc(25% / 3);

        &>.dropdown {
            bottom: 0;
        }

        li {
            height: 16%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2 {
                font-family: 'sfpro-bold';
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
            }

            p {
                font-family: 'sfpro-light';
                font-size: 18px;
                line-height: 22px;
                letter-spacing: 0.02em;
                color: #FFFFFF;
                opacity: 0.5;
            }
        }

        .footer_language {
            position: relative;
            margin-left: 30px;
        }
    }
}

.footer__conclusion h3 {
    font-family: 'sfpro-bold';
    font-size: 32px;
    line-height: 32px;
    color: #FFFFFF;
    max-width: 430px;

    img {
        height: 30px;
    }
}



@media only screen and (max-width:600px) {
    .footer__container {
        &>h1 {
            font-size: 28px;

            img {
                height: 24px;
            }
        }

        .branches {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: 65%;

            .branches__location {
                width: 80%;
                height: 70%;

                .branches_googlemap {
                    width: 100%;
                    height: 100%
                }
            }

        }



    }

    .footer__conclusion h3 {
        font-size: 24px;

        img {
            height: 24px;
        }
    }

    .branches__name {
        ul {
            height: 80%;

            &>.dropdown {
                bottom: 0;
            }

            li {
                height: 25%;
                justify-content: flex-start;

                h2 {
                    font-size: 20px;
                    line-height: 22px;
                }

                p {
                    font-family: 'sfpro-light';
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.02em;
                    color: #FFFFFF;
                    opacity: 0.5;
                }
            }
        }
    }
}