@font-face {
    font-family: 'sfpro-bold';
    src: url('./utils/fonts/SF-Pro-Display-Semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfpro-light';
    src: url('./utils/fonts/SF-Pro-Display-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfpro-regular';
    src: url('./utils/fonts/SF-Pro-Display-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}