$main-theme-dark: #000000;
$main-theme-gray: #a2a2a2;
$main-theme-white: #FAFAFA;
$main-theme-f2: #f2f2f2;
$secondary-theme-dark: #2B2B2B;
$btn-font-size: 28px;
$font-sfpro-bold: 'sfpro-bold';
$font-sfpro-light: 'sfpro-light';
$font-sfpro-regular: 'sfpro-regular';
$text-font-opacity: 0.5;
$main-text-color: white;
$padding-container: 0 130px;
$transition-time: 0.3s